<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Task Manager </title>
</head>
<body>

    
    <header>
        <!-- top navbar -->
        <nav class="cyan accent-3">
            <div class="nav-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo">Task Manager</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="">New Task</a></li>
                <li><a href="">Categories</a></li> 
              </ul>
            </div>
          </nav>
        
          <!-- mobile side nav -->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">New Task</a></li>
            <li><a href="">Categories</a></li>
    </header>

    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer cyan accent-3">
        <div class="footer-copyright">
          <div class="container">
          For educational purposes only
          <a class="white-text right" href="https://codeinstitute.net" target="_blank">&copy; Code Institute</a>
          </div>
        </div>
      </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>